<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameQuest Store</title>
    <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="responsive.css" >


</head>
<body class="baseDocu">
    <div class="sticker">
        <headder class="head" >
            <nav>
                <div>
                    <a href="/">
                    <img src="http://martincifre.alwaysdata.net/LogoGQS.png" alt="Logo" width="200" height="40">
                    </a>
                </div>
            </nav>
            
            <div class="baseDocu busqueda">
                <input type="search" style="width: 20vw; height: 50px"/>
                <a href="#">
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
                </a>

            </div>
            
            <div class="iconitos">
                <a href="/carrito.html">
                <i class="fa-solid fa-cart-shopping fa-xl space" style="color: #ffffff;"></i>
                </a>
                <a href="/login.html">
                <i class="fa-solid fa-user fa-xl space" style="color: #ffffff;"></i>
                </a>
            </div>
        </headder>

        <nav class="NaviBar sticker">
            <a class="linkText" href="#"><p>Tienda</p></a>
            <a class="linkText" href="#"><p>Usados</p></a>
            <a class="linkText" href="#"><p>Descuentos</p></a>
            <a class="linkText" href="#"><p>Online</p></a>
            

        </nav>
    </div>

    <section class="carrito">
        <p class="letraTitulos"> CARRITO DE COMPRAS</p>
        <p class="letraTitulos2">ITEMS</p>
        <div class="preCompra">
            <img src="http://martincifre.alwaysdata.net/Juego-HogwartsLegacy.png" width="100PX" alt="Hogwarts Legacy">
            <P class="preCompraTitulo">HOGWARTS LEGACY</P>
            <P class="preCompraPrecio">$45.90</P>
        </div>

        <div class="preCompra">
            <img src="http://martincifre.alwaysdata.net/Juego-GTAV.png" width="100PX" alt="Elden Ring">
            <P class="preCompraTitulo">GTA:V</P>
            <P class="preCompraPrecio">$9.90</P>
        </div>

        <p class="compraTotal">TOTAL= 55.80</p>
        <button type="button" class="btn btn-light botonCompra">COMPRAR</button>              

    </section>

    
<script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>