<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameQuest Store</title>
    <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" >
    <link rel="stylesheet" href="responsive.css" >

</head>
<body class="baseDocu">
    <div class="sticker">
        <headder class="head" >
            <nav>
                <div>
                    <a href="/">
                    <img src="http://martincifre.alwaysdata.net/LogoGQS.png" alt="Logo" width="200" height="40">
                    </a>
                </div>
            </nav>
            
            <div class="baseDocu busqueda">
                <input type="search" style="width: 20vw; height: 50px"/>
                <a href="#">
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
                </a>

            </div>
            
            <div class="iconitos">
                <a href="/carrito">
                <i class="fa-solid fa-cart-shopping fa-xl space" style="color: #ffffff;"></i>
                </a>
                <a href="/users/login">
                <i class="fa-solid fa-user fa-xl space" style="color: #ffffff;"></i>
                </a>
            </div>
        </headder>

        <nav class="NaviBar sticker">
            <a class="linkText" href="#"><p>Tienda</p></a>
            <a class="linkText" href="#"><p>Usados</p></a>
            <a class="linkText" href="#"><p>Descuentos</p></a>
            <a class="linkText" href="#"><p>Online</p></a>
            

        </nav>
    </div>
    <section>
                <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="http://martincifre.alwaysdata.net/banner-zelda.png" class="d-block w-100" alt="promocion Zelda">
            </div>
            <div class="carousel-item">
            <img src="http://martincifre.alwaysdata.net/banner-hog-legacy.png" class="d-block w-100" alt="Top Ventas Hogwarts">
            </div>
            <div class="carousel-item">
            <img src="http://martincifre.alwaysdata.net/banner-assa-creed.png" class="d-block w-100" alt="pre-venta Assasins Creed">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

    </section>


    <section class="margenes">
        <h3 class="letraTitulos">OFERTAS DE LA SEMANA</h3>
        <div class="ofertaSemanal">
            <a class="linkText3"href="#">
             <div class="etqVenta">
                    <img src="http://martincifre.alwaysdata.net/Juego-EldenRing.png" class="card-img-top" alt="Elden Ring">
                    <div class="card-body">
                        <p></p>
                        <p>ELDEN RING.</p>
                        <p class="precio">$38.50</p>
            
                    </div>
                </div>
            </a>
            <a class="linkText3" href="hogwarts-legacy">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-HogwartsLegacy.png" class="card-img-top" alt="Elden Ring">
                <div class="card-body">
                    <p></p>
                    <p>HOGWARTS LEGACY.</p>
                    <p class="precio">$45.90</p>
        
                </div>
            </div>
            </a>
            <a class="linkText3" href="#">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-MarioKart.png" class="card-img-top" alt="Elden Ring">
                <div class="card-body">
                    <p></p>
                    <p>MARIO KART 8</p>
                    <p class="precio">$25.00</p>
        
                </div>
            </div>
            </a>
            <a class="linkText3" href="#">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-COD.png" class="card-img-top" alt="Elden Ring">
                <div class="card-body">
                    <p></p>
                    <p>COD: MW2</p>
                    <p class="precio">$29.50</p>
        
                </div>
            </div>
            </a>
        </div>

        <br>

        <div class="ofertaSemanal">
            <a class="linkText3"href="#">
             <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-DBD.png" class="card-img-top" alt="Dead by Deadlight">
                <div class="card-body">
                    <p></p>
                    <p>DEAD BY DAYLIGHT</p>
                    <p class="precio">$15.50</p>
        
                </div>
            </div>
            </a>
            <a class="linkText3" href="#">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-LOU.png" class="card-img-top" alt="Last of Us">
                <div class="card-body">
                    <p></p>
                    <p>LAST OF US: P.1</p>
                    <p class="precio">$9.90</p>
        
                </div>
            </div>
            </a>
            <a class="linkText3" href="#">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-Minecraft.png" class="card-img-top" alt="Minecraft">
                <div class="card-body">
                    <p></p>
                    <p>MINECRAFT</p>
                    <p class="precio">$12.25</p>
        
                </div>
            </div>
            </a>
            <a class="linkText3" href="#">
            <div class="etqVenta">
                <img src="http://martincifre.alwaysdata.net/Juego-GTAV.png" class="card-img-top" alt="GTA V">
                <div class="card-body">
                    <p></p>
                    <p>GTA: V</p>
                    <p class="precio">$9.90</p>
        
                </div>
            </div>
            </a>
        </div>
    </section>

    <footer class="syncFooter">
        <p>sincroniza tu Tienda</p>
        <div class="syncIcons">
            <a href="#"><img src="http://martincifre.alwaysdata.net/icon-epic.png"></a>
            <a href="#"><img src="http://martincifre.alwaysdata.net/icon-steam.png"></a>
        </div>
        
    </footer>

<script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>