<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameQuest Store</title>
    <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" >
    <link rel="stylesheet" href="/responsive.css" >



</head>
<body class="baseDocu">
   <div class="sticker">
    <%- include("partials/header") %>

        <nav class="NaviBar sticker">
            <a class="linkText" href="#"><p>Tienda</p></a>
            <a class="linkText" href="#"><p>Usados</p></a>
            <a class="linkText" href="#"><p>Descuentos</p></a>
            <a class="linkText" href="#"><p>Online</p></a>
            

        </nav>
    </div>


        
    <div class="loginBox">
        <p class="posicionUser letraTitulos ">LOG-IN:</p>
        <br>
        <br>
        <i class="letraTitulos2 posicionUser">Usuario:</i> <input class="posicionUser" type="text" name="username" style="width: 30vw;" required="">
        <br>
        <br>
        <br>
        <i class="letraTitulos2 posicionPass">Contraseña:</i> <input class= "posicionPass" type="password" name="password" style="width: 30vw;" required="">
        <br>
        <br>
        <div class="botonLog">
            <p>conectate con:</p>
            <div class="conect">
                <a href='#'><i class="fa-brands fa-facebook fa-5x" style="color: #ffffff;"></i></a>
                <a href='#'><i class="fa-brands fa-google fa-5x" style="color: #ffffff;"></i></a>
            </div>

            <button type="button" class="btn btn-light botonCuenta">LOGIN</button>


            <br>
            <br>
            <a class="linkText" href="#"><p>olvidaste la contraseña?</p></a>
            <br>
            <a class="linkText" href="user/signin"><p>Registrate!</p></a>
        </div>

    </div>


    <%- include("partials/footer") %>


    

<script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>