<footer class="syncFooter">
    <p>sincroniza tu Tienda</p>
    <div class="syncIcons">
        <a href="#"><img src="http://martincifre.alwaysdata.net/icon-epic.png"></a>
        <a href="#"><img src="http://martincifre.alwaysdata.net/icon-steam.png"></a>
    </div>
    
</footer>