<footer class="footer">
    <div class="footer">
      <div class="syncFooter">
        <p>Sincroniza tu tienda</p>
        <div class="syncIcons">
          <a href="#"><img src="http://martincifre.alwaysdata.net/icon-epic.png" alt="epic" class="tamaño-img"></a>
          <a href="#"><img src="http://martincifre.alwaysdata.net/icon-steam.png" alt="steam" class="tamaño-img"></a>
        </div>
      </div>
    </div>
  </footer>