<headder class="head" >
    <nav>
        <div>
            <a href="/">
            <img src="http://martincifre.alwaysdata.net/LogoGQS.png" alt="Logo" width="200" height="40">
            </a>
        </div>
    </nav>
    
    <div class="baseDocu busqueda">
        <input type="search" style="width: 20vw; height: 50px"/>
        <a href="#">
        <i class="fa-sharp fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
        </a>

    </div>
    
    <div class="iconitos">
        <a href="/carrito">
        <i class="fa-solid fa-cart-shopping fa-xl space" style="color: #ffffff;"></i>
        </a>
        <a href="/users/login">
        <i class="fa-solid fa-user fa-xl space" style="color: #ffffff;"></i>
        </a>
    </div>
</headder>
