<header>
    <div>
      <div id="inicio">
        <div>
          <a href="/" class="black-link">
          <img class="imagenInicio" src="/img/LogoGQS.png" alt="logo de imagen">
        </a>
        </div>
        <div class="searchbar">
          <form action="/usersRoutes/search" method="GET">
          <input  placeholder='ðŸ”ï¸Ž' class="searchbar" name="search">
          </form>
        </div>
        <div>
          <i class="fa-solid fa-cart-arrow-down fa-2xl logos-search" style="color: #ffffff;"></i>
          <a href="/login" class="black-link">
            <i class="fa-solid fa-user fa-2xl logos-search" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="opciones">
      <div class="posicion">
        <div class="palabras">TIENDAS</div>
        <div class="palabras">USADOS</div>
        <div class="palabras">DESCUENTOS</div>
        <div class="palabras">ONLINE</div>
      </div>
    </div>
  </header>