<main>
    <h3 class="letraTitulos">OFERTAS DE LA SEMANA</h3>
    <div id="articulo">
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-EldenRing.png" class="card-img-top card-img"
              alt="Elden Ring">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">ELDEN RING</p>
              <p class="precio">$38.50</p>
            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="hogwarts-legacy">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-HogwartsLegacy.png" class="card-img-top card-img"
              alt="hogwarts-legacy">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">HOGWARTS LEGACY</p>
              <p class="precio">$45.90</p>

            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-MarioKart.png" class="card-img-top card-img"
              alt="mario-kart">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">MARIO KART 8</p>
              <p class="precio">$25.00</p>
            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-COD.png" class="card-img-top card-img" alt="COD">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">COD: MW2</p>
              <p class="precio">$29.50</p>

            </div>
          </div>
        </a>
      </article>
    </div>
    <div id="articulo">
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-DBD.png" class="card-img-top card-img"
              alt="Dead-by-Deadlight">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">DEAD BY DAYLIGHT</p>
              <p class="precio">$15.50</p>
            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-LOU.png" class="card-img-top card-img" alt="Last-of-Us">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">LAST OF US: P.1</p>
              <p class="precio">$9.90</p>

            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <div>
              <img src="http://martincifre.alwaysdata.net/Juego-Minecraft.png" class="card-img-top card-img"
                alt="Minecraft">
            </div>
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">MINECRAFT</p>
              <p class="precio">$12.25</p>
            </div>
          </div>
        </a>
      </article>
      <article class="ofertaSemanal">
        <a class="linkText3" href="#">
          <div class="etqVenta">
            <img src="http://martincifre.alwaysdata.net/Juego-GTAV.png" class="card-img-top card-img" alt="GTA-V">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio">GTA: V</p>
              <p class="precio">$9.90</p>

            </div>
          </div>
        </a>
      </article>
    </div>
  </main>