<main>
    <h3 class="letraTitulos">OFERTAS DE LA SEMANA</h3>
    <div id="articulo">
      <main>
        <% datosJuegos.forEach(game => { %>
          <div class="container-card ofertaSemanal">
            <a class="linkText3" href="hogwarts-legacy">
                  <div class="etqVenta">
                          <img src='<%= game.imagenJuego %>' class="card-img-top card-img">
                          <div class="card-body Caja-precio-titulo">
                            <p class="titulo-del-precio"><%=game.nombre %></p>
                            <p class="precio">$<%=game.precio %></p>
                          </div>
                  </div>
                </a>
        </div>
        <% }); %>
  </main>