<main>
  
  <h3 class="letraTitulos">OFERTAS DE LA SEMANA</h3>
  <div id="articulo">
    <% datosJuegos.forEach(juegoEncontrado => { %>
  
    
    <article class="ofertaSemanal">
      <a class="linkText3" href="/product/detalle/<%= juegoEncontrado.id %>">
        <div class="etqVenta">
            <img src="<%= juegoEncontrado.imagenJuego %>" class="card-img-top card-img" alt="...">
            <div class="card-body Caja-precio-titulo">
              <p class="titulo-del-precio"><%= juegoEncontrado.nombre %></p>
              <p class="precio">$<%= juegoEncontrado.precio %></p>
            </div>
        </div>
        <button type="button" class="btn btn-danger">Eliminar Juego</button>

      </a>
    </article>
    <% }) %>  
  </div>
  
</main>