<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Quest Store</title>
    <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=Roboto:ital@1&display=swap"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
  
</head>
    <body>
  
        <%- include('../partials/header') %>
      
        <div class="login-box-centrado">
          <div class="login-box">
            <h2>Create Game</h2>
            <form action="/users/create" method="POST" enctype="multipart/form-data">
              <label for="nombre">Name Game</label>
              <input type="text" name="nombre" placeholder="Name Game">
              <label for="precio">Price</label>
              <input type="text" name="precio" placeholder="precio">
              <label for="genero">Genero</label>
              <input type="text" name="genero" placeholder="Genero">
              <label for="descripcion">Descripcion</label>
              <input type="text" name="descripcion" placeholder="Descripcion">
              <label for="rating">Rating</label>
              <input type="text" name="rating" placeholder="Rating">
              <div class="mb-3">
                <label for="imagenJuego" class="form-label">Imagen principal</label>
                <input class="form-control" type="file" id="imagenJuego">
              </div>

              <input type="submit" value="Enviar">
            </form>
          </div>
        </div>
        
        <%- include('../partials/footer') %>
      
    
    <script src="js/addons/rating.js"></script>
    <script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
    
    